@mixin main_content_typo() {

	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: (24em/14em);
	color: $main_text_color;

	#{headings(1,3)} {
		color: $headings_color;
		font-family: bender;
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 0.6em;

		a {
			text-decoration: none;
			color: inherit;
			transition: color 300ms;

			&:hover {
				color: $headings_hover_color;
			}
		}
	}

	h1,
	h2.same_as_h1 {
		font-size: 24px;
		line-height: (30em/24em);
		text-transform: uppercase;
	}

	h2 {
		font-size: 18px;
		line-height: (30em/24em);
	}

	h3 {
		font-size: 14px;
		line-height: (30em/18em);
	}

	#{headings(4,6)} {
		font-size: inherit;
		font-weight: bold;
	}

	p {
		text-align: justify;
	}

	a {
		color: $main_menu_item_background;
	}

	q {
		font-style: italic;
	}

	blockquote {
		color: $headings_color;
		font-style: italic;
		font-size: 24px;
		font-family: bender;
		line-height: (30em/24em);
		text-align: center;

		p {
			text-align: inherit;
		}

		& p:first-child::before {
			content: '\201E';
		}

		& p:last-child::after {
			content: '\201D';
		}
	}

	ul {
		list-style: none;
		padding-left: 40px;

		li {
			position: relative;

			&:before {
				@include iconfont();
				content: '\e607';
				color: $headings_color;
				position: absolute;
				left: -15px;
				top: 2em;
				$height: 5px;
				height: $height;
				font-size: $height;
				vertical-align: middle;
			}
		}
	}

	.code_heading {
		background: #d7d7d7;
		border-color: grey;
		border-width: 1px;
		border-style: solid solid none solid;
		padding: 0 10px;
		font-weight: bold;
	}

	pre {
		margin-top: 0;
		display: block;
		background: #e6e6e6;
		padding: 10px;
		border: 1px solid grey;
		padding-top: 0;
		padding-bottom: 0;

		p {
			margin-top: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}


}

@mixin wordpress_image_styles() {
	/* =WordPress Core
-------------------------------------------------------------- */
	.alignnone {
		margin: 5px 20px 20px 0;
	}

	.aligncenter,
	div.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}

	.alignright {
		float:right;
		margin: 5px 0 20px 20px;
	}

	.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}

	a img.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}

	a img.alignnone {
		margin: 5px 20px 20px 0;
	}

	a img.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}

	a img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto
	}

	.wp-caption {
		max-width: 100%; /* Image does not overflow the content area */
		text-align: center;
	}

	.wp-caption.alignnone {
		margin: 5px 20px 0 0;
	}

	.wp-caption.alignleft {
		margin: 5px 20px 0 0;
	}

	.wp-caption.alignright {
		margin: 5px 0 0 20px;
	}

	.wp-caption img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 100%;
		padding: 0;
	}

	.wp-caption p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
		font-style: italic;
		color: $main_menu_item_background;
		text-align: center;
	}

}