@import "global";

.archive_updates {

	.update_item {

		time {
			font-size: 0.8em;
			color: grey;
			line-height: 1em;
		}

		p {
			margin-top: 0;
		}
	}

	/*
	Pagination on archive page:
	*/

	@import "pagination";

}