@import "global";

.video_gallery {

	.subcategories {
		margin-bottom: 30px;

		#{headings(1,3)} {
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 0px;
		}

		a {
			display: inline-block;
			margin: 0 12px 0 0;
			text-decoration: none;
			font-family: bender;
			font-size: 1.1em;
			transition: color 300ms;

			&:hover {
				color: $main_menu_item_background_hover;
			}

			&::after {
				content: '|';
				margin-left: 15px;
			}

			&:last-child::after {
				display: none;
			}
		}
	}

	.video_item {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $items_separator_color;

		&:first-of-type {
			margin-top: 40px;
		}

		&:last-of-type {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
		}
	}

	.video_link {
		color: inherit;
		text-decoration: none;
		display: table;

		&:active,
		&:focus {
			outline: none;
		}

		$video_play_triangle_size: 10px;

		.image {
			display: block;
			width: 160px;
			vertical-align: middle;
			position: relative;

			img {
				display: block;
			}

			&::after {
				//Play/Stop icon
				content: '';
				display: block;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: $video_play_triangle_size 0 $video_play_triangle_size ($video_play_triangle_size * 2);
				border-color: transparent transparent transparent #FFF;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -$video_play_triangle_size;
				margin-left: -$video_play_triangle_size;
				transition-property: height, border-bottom-width, border-top-width;
				transition-duration: 300ms;
			}

			&::before {
				//bacground for playstop icon
				$size: 50px;
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				width: $size;
				height: $size;
				//outline: 1px solid black;
				margin-left: -($size/2);
				margin-top: -($size/2);
				background: rgba($main_menu_item_background, 0.25);
			}
		}

		.name_and_desc {
			display: table-cell;
			padding-left: 15px;
			vertical-align: middle;

			time {
				display: block;
				font-size: 10px;
				line-height: 1;
				color: grey;
			}

			p {
				margin-bottom: 0;
			}
		}

		h2 {
			transition: color 300ms;
		}

		&:hover {

			h2 {
				color: $headings_hover_color;
			}
		}

		&.open .image::after {
			height: ($video_play_triangle_size*2);
			border-bottom-width: 0;
			border-top-width: 0;
		}

	}

	.video_embed {
		margin-top: 20px;
	}

	/*
	Pagination
	*/

	@import "pagination";

}